.place__link {
  font-family: 'inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #fff;
  transition: opacity 0.2s linear;
}
.place__link:hover {
  opacity: 0.8;
}