.lead__caption {
  font-family: 'inter', Arial, sans-serif;
  margin: 8px auto 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: block;
  max-width: 984px;
}
@media screen and (max-width:1140px) {
  .lead__caption {
    max-width: 928px;
  }
}
@media screen and (max-width:890px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width:568px) {
  .lead__caption {
    margin-left: 16px;
  }
}