.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 48px 24px;
  max-width: calc(100% - 96px);
}
@media screen and (max-width: 986px) {
  .footer {
    max-width: 720px;
    margin: 0 auto 24px;
  }
}
@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    margin: 0 16px 24px;
  }
}